@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, ::before, ::after {
    font-family: 'Open Sans', sans-serif;
  }
}

html, body {
  font-family: 'Open Sans', sans-serif;
  color: #333333;
  background-color: #ffffff;
  overflow-x: hidden;
}

.section-underline {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.section-underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background-color: #002b5c;
}

/* Custom Scrollbar for Product Containers */
.scrollbar-visible {
  -ms-overflow-style: auto !important;
  scrollbar-width: thin !important;
  scrollbar-color: #002b5c #e9ecef !important;
}

.scrollbar-visible::-webkit-scrollbar {
  display: block !important;
  width: 5px !important;
}

.scrollbar-visible::-webkit-scrollbar-track {
  background: #e9ecef !important;
  border-radius: 4px !important;
}

.scrollbar-visible::-webkit-scrollbar-thumb {
  background: #002b5c !important;
  border-radius: 4px !important;
}
